header {
    color: white;
    background: #457B9D;
    display: flex;
}

header a {
    text-decoration: none;
}

header a img {
    filter: invert(1);
    margin-left: 10px;
}

header a h1 {
    color: white;
    margin-left: 10px;
    font-size: 200%;
}

header a:hover,
header a:active {
    color: #aa63da;
}

header div.login {
    flex: 1;
    margin-right: 0.5rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}