h1 {
    padding-left: 30px;;
}
div#root {
    width: 100%;
    background: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

div#root div.centerWrapper {
    background: whitesmoke;
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

div#root div.centerWrapper > main {
    padding: 30px 0;
    width: 100%;
}

