h1 {
    padding-left: 30px;;
}
div#root {
    width: 100%;
    background:#F5F6F8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

div#root div.centerWrapper {
    width: 1440px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

div#root div.centerWrapper > main {
    padding: 30px 0;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 0 20px;
}

