form.add-form {
    padding: 1rem;
    width: 50%;
  }
  
 .form-control {
    margin-bottom: 0.5rem;
  }
  
.form-control label {
    display: block;
    margin-bottom: 0.3rem;
  }
  
 .form-control input,
 .form-control textarea {
    display: block;
    font: inherit;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.2rem;
    width: 70%;
  }

.form-control input:hover {
    border: 1px solid rgb(175, 173, 173)(0, 0%, 20%);
  }
  
.form-control input:focus {
    border: 1px solid blue;
  }
