.add-form {
    padding: 1rem;
  }
  
  .form-control {
    margin-bottom: 0.5rem;
  }
  
  .form-control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-control input,
  .form-control textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.30rem;
    width: 100%;
  }

  .form-control input:hover {
    border: 1px solid rgb(175, 173, 173)(0, 0%, 20%);
  }
  
  .actions {
    margin-top: 1rem;
    text-align: right;
  }
  